streamlit
pandas
numpy
matplotlib
plotly
sklearn
colors
ListedColormap
express
tree
DecisionTreeClassifier
metrics
confusion_matrix
accuracy_score
naive_bayes
GaussianNB
preprocessing
svm
datasets
cluster
KMeans
linear_model
LinearRegression
model_selection
train_test_split
preprocessing
StandardScaler
MinMaxScaler
decomposition
KernelPCA
SVC